.div-relog{
    background-color: rgb(59, 57, 57);
    border: 1px solid silver;
    padding:0px 10px;
    border-radius: 30px;
}
.time-relog{
color: green;
background-color: black;
padding: 15px;
border-radius: 10px;
box-shadow: 0px 0px 10px px greenyellow;


}
.time-relog-numbers{
    color: green;
    font-size: 30px;
    background-color: black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px greenyellow;
    font-family: 'Ds-Digital';
    
    }
.div-fecha{
    display: flex;
    align-items: center;
    gap: 5px;
}